body{
    margin: 0;
}
.div{
    display: flex;
}
.container {
    display: flex; 
    border: 10px solid red;
    height: 100vh; 
    box-sizing: border-box; 
    flex-wrap: wrap;
    flex-direction: column;
}
.box {
    color: #fff;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    margin: 0;

    
    
  }
  
  
  .box1 { background:#1abc9c;
height: 29vh;}
  .box2 { background:#3498db;
    height: 29vh;}
  .box3 { background:#9b59b6;
    height: 29vh;}
  .box4 { background:#34495e;
    height: 11.36vh;}
  .box5 { background:#f1c40f;
    height: 50vh;}
  .box6 { background:#e67e22;
    height: 50vh;}