*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}
.ul{
    background-color: aquamarine;
    color: blueviolet;
    list-style-type: none;
    
}
.textProducts p{
    align-items: center;
    font-weight: bolder;
}
.divPrincipal img{
position: relative;
}
.divPrincipal p{
    color: white;
position: absolute;
margin-top: 450;
}
ul li{
    display: inline-block;
    padding: 30px;
}

.menus{
    display: flex;
    list-style-type: none;
}
.rigth{
    text-align: right;
}
.header{
    display: float;
}
.divsmenus{
    display: inline-block;
}

.lub:hover{
    transform: scale(1.15);
    transition: 1.2s;
}
div{
    display: flex;
}