*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #0a87a7;
}


.over:hover{
    opacity: 0%;
    transition: 0.6s;
}
.imagesMain{
    margin-top: 50px;
    text-align: center;
     justify-content: center; 
     align-items: center;
     position: absolute;
}

/*.descProducts p{
    background-color: #fffac6;
    color: #0a87a7;
}
*/
.divPrincipal{
    height: 500px;
    background-color: #fffac6;
}

.divPrincipal img{
position: relative;
width: 100%;
}
.divPrincipal p{
    color: white;
position: absolute;
margin-top: 450;
}
.right{
    text-align: right;
    background-color: #0a87a7; 
    width: 25%
}
.titulo{
    color: #0a87a7;
    font-size: 50px;
}
.imageProduct{
    height: 90%;
    width: 100%;

}
.full{
    height: 100%;
    width: 100%;
}


div{
    display: flex;
}

/* Pagina de Producto*/
.lub{
    width: 25%;
    flex-direction: column;
}
.lub:hover{
    transform: scale(1.15);
    transition: 1.2s;
    cursor: pointer;
}
.price{
    font-size: 30px;
    
   
}

.textProducts{
    height: 5%;
    width: 100%;

}

.name{
    font-size: 50px;
    background-color: #fffac6;
    color: #0a87a7;
    
}


.descProducts{
    color: #fffac6;
    width: 50%;  
    text-align: center;
    flex-direction: column;
}
.des{
    font-size: small;
}
.textProducts p{
    color: white;
    align-items: center;
    font-weight: bolder;
}
/* Paginas Generales */
.pagGeneral{
    width: 100%;
     height: 100vh; 
     flex-direction: column;
}
.pagGeneral div{
    height: 33vh; 
    width: 100%;
}
.general1{
    background-color: #fffac6
    
}
.general1:hover{
    background-color: #0a87a7;
    color: #fffac6;
    transition: .5s;
}
.enl1:hover{
    background-color: #0a87a7;
    color: #fffac6;
    transition: .5s;
}
.enl1{
    color: #0a87a7;
    font-size: 100px;
    margin-left: 30px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    background-color: #fffac6; 
    height: 100%;
}

.general2{
    background-color: #0a87a7;
    text-align: right !important; 
    
}
.enl2{
    color: #ffa8a4;
    font-size: 100px;
    text-decoration: none;
    margin-right: 30px;
    text-align: right;
    width: 100%;
    
}
.general2:hover{
    background-color: #ffa8a4;
    color: #0a87a7;
    transition: .5s;
}
.enl2:hover{
    background-color: #ffa8a4;
    color: #0a87a7;
    transition: .5s;
}

.general3{
    background-color: #ffa8a4
}
.enl3{
    color: #fffac6;
    text-decoration: none;
    font-size: 100px;
    margin-left: 30px;
    width: 100%;
}
.general3:hover{
    background-color: #fffac6;
    color: #ffa8a4;
    transition: .5s;
}
.enl3:hover{
    background-color: #fffac6;
    color: #ffa8a4;
    transition: .5s;
}


/* Páginda de Contacto*/
.form label{
    font-size: 500px;
    color: #fffac6;
}
.form input{
    display: block;
}




 /* Menús y Header*/
 .header{
    margin: 0;
    padding: 0;
    display: float;
}
.ul{
    list-style-type: none;
    
}
ul li{
    display: inline-block;
    padding: 0px;
    margin: 0;
    padding-left: 30px;
    text-align: center;
    color: #fffac6;
    
    
}
.menus{
    display: flex;
    list-style-type: none;
    text-align: center;
    
}
.menus a{
    color: #fffac6;
    text-decoration: none;
}
.divsmenus{
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.logos{
    width: 50px;
}
.buttonMenus{
    background-color: #0a87a7;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.buttonMenus:hover{
    background-color: #fffac6;
    color: #0a87a7;
    
    
   
}
.divsmenus a:hover{
    color: #0a87a7;
    }

/* PRINCIPIO DEL DESPLEGABLE */
.dropbtn {
    background-color: #ffa8a4;
    color: #0a87a7;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  .dropbtn a{
    color: #0a87a7;
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0a87a7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fffac6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      color: #0a87a7;
      background-color: #fffac6
      
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ffa8a4;
  }


  
  